/* style.css koa oni na prezentaciji iz UVODA */

body
{
    background-color: #444444;
}

h3
{
    text-align: center;
}

p
{
    padding-left: 10%;
}

header
{
    height: 10%;
    width: 90%;
    background-color: #ADCDAB;
    margin: 2% auto 0 auto;
    padding: 10px 0;
    text-align: center;
}

header h1
{
    margin: 0;
    padding: 3 20px;
    font-size: 36px;
    color: #383838;
}

header h2
{
    margin: 0;
    padding: 3 20px;
    font-size: 20px;
    font-style: italic;
    color: #383838;
}

nav
{
    height: 20%;
    width: 90%;
    background-color: #adadad;
    margin: 1% auto 1% auto;
    padding: 1% 0;
    text-align: center;
}

#sidebar
{
    height: 300px; 
    width: 28%; 
    background-color: #FFF;
    margin: 1% 1% 1% 5%;
    padding: 0;
    float: left;
}

#content
{
    height: 300px;
    width: 60%;
    background-color: #FFF;
    margin: 1% 5% 1% 1%;
    padding: 0;
    float: left;
}

.forma
{
    padding-left: 10%;
}

.clear
{
    clear: left
}

/* KOJA SLIKA IMA OVI ID??? */
#foto
{
    height: 50%;
    width: 30%;
    background-color: #AFC;
    margin: 7% auto;
}

#sidebar img
{
    /* Ultimativna metoda centriranja */
    margin: 10% 10% 20% 20%;
}

footer
{
    height: 20%;
    width: 90%;
    background-color: #ADADAD;
    margin: 1% auto 0 auto;
    padding: 2px 0;
    text-align: center;
}

footer p
{
    padding-left: 0!important; /* !important za override gornjeg pravila gdje svaki paragraf ima padding 10%*/
}


a.nav
{
    margin: 1%;
    padding: 1px 1px;
    font-size: 18px;
    font-weight: bold;
    line-height: 5px;
    color: #101475;
    text-decoration: none;
    /* Dodano za ljepsu animaciju pri hooveru */
    transition: 0.2s;
}

/* 
    U HOVER JEDINO TREBAJU ICI ELEMENTI
    KOJI SE MIJENJAJU PRI HOOVERU
*/
a.nav:hover
{
    color: #D0EDF7;
    background-color: #101475;
}
